@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.container {
  font-family: "Red Hat Display", sans-serif;
  box-sizing: border-box;
  padding: 50px 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header {
  font-size: 60px;
  font-weight: 700;
  /* padding-bottom: 10px; */
}

.header-1 {
  font-size: 16px;
  font-weight: 500;
  color: rgb(252, 238, 238);
}

.header span {
  position: relative;
  color: rgb(104, 41, 163);
}

.header span::after {
  display: none;
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  background: rgb(201, 156, 243);
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 15px;
}

.header span:hover::after {
  display: block;
  transition: all ease 0.3s;
  animation-name: hoverUL;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes hoverUL {
  0% {
    width: 0%;
    left: 0%;
  }

  50% {
    width: 100%;
    left: 0%;
  }

  100% {
    width: 0%;
    left: 100%;
  }
}

.imageLoading {
  display: flex;
  flex-direction: column;
}

.imageLoading img {
  width: 512px;
  /* width: 500px; */
}

.searchBox {
  display: flex;
  width: 1000px;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  background: #392d52b2;
}

.searchInput {
  font-family: "Red Hat Display", sans-serif;
  width: 600px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.searchInput::placeholder {
  color: #999;
}

.generateButton {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  color: rgb(211, 203, 206);
  background-color: #020232;
  height: 100%;
  width: 300px;
  font-size: 25px;
  overflow: hidden;
  padding: 16px 50px;
  position: relative;
  text-decoration: none;
  transition: .8s transform ease-in-out;
  z-index: 0;

  &::after {
    background-color: rgba(90, 12, 38, 0.568);
    border-radius: 50px;
    content: '';
    border: 2px solid white;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-70%, 0) rotate(-10deg);
    transform-origin: top left;
    transition: .8s transform ease-out;
    will-change: transform;
    z-index: -1;
  }

  &:hover::after {
    transform: translate(0, 0);
  }

  &:hover {
    transform: scale(1.05);
  }
}

.loadingBar {
  width: 0px;
  height: 8px;
  background: rgb(129, 48, 48);
}

.loadingText {
  font-size: 18px;
}

.loadingBarFull {
  width: 512px;
  height: 8px;
  background: rgb(129, 48, 48);
  transition: 15s;
}

.displayNone {
  display: none;
}